


body{
    background-color: #E6DBD3;
}
.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
.tittle{
    display: flex;
}
.tittle h1 a{
    text-decoration: none;
    color: #222;
}
.tittle h1{
    margin: 0;
    padding: 1rem;
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
}

.nav{
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -100%;
    background-color: #fff;
}
.nav-list{
    list-style: none;
}

.open{
    padding: 0 3px 0 13px;
    background: none;
    border: none;
}
.open i:hover{
    cursor: pointer;
}
.mostrar{
    margin-left: 0;
}
.link{
    padding: 15px 20px;
}
.link a{
    text-decoration: none;
    color: #333;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
}
section h2{
    padding: 1rem 0;
    color: #fff;
    text-shadow: 4px 2px 4px #333;

}
.section-family{
    width: 100%;
    height: 15vh;
    background: url(/assets/images/fond2.jpg!d);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

.content{
    background: #fff;
}
.section-about span{
    color: #FFF;
    text-shadow: 4px 2px 4px #000;
    font-size: 1rem;
}
.section-about span:hover{
    cursor: pointer;
    text-shadow: 3px 1px 4px #379;
}
.section-about div p{
    padding: 1rem;
    font-size: 1rem;
}
.hide-about{
    display: none;
}

.section-galery span a{
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 1rem;

}

.section-galery_family h3,.section-galery_child h3{
    position: absolute;
    color: #fff;
    text-shadow: 4px 2px 4px #fff;
    padding: 1rem 0 0 0;
}
.section-galery_child img{
    width: 100%;
    height: 100%;
}
.section-galery_family img{
    width: 100%;
    height: 100%;
}

.section-galery span a:hover{
    box-shadow: 2px 4px 10px 5px #999;
}
footer{
    background-color: #fff;
    font-family: 'Estonia', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
footer h2{
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    color: #333;
}

footer ul{
    list-style: none;
}

footer li{
    display: inline-block;
    padding: 0.3rem;
    font-size: 2rem;
}
footer li a{
    text-decoration: none;
}
.mail{
    color: #09f;
}
.instagram{
    color: #f66;
}
.whatsapp{
    color:#0f5;
}
.facebook{
    color:#00f;
}
.whatsapp-fixed{
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    cursor: pointer;
}
.whatsapp-fixed i{
    padding: 0.6rem;
    background:#0f5;
    border-radius: 100%;
    color: #fff;
    font-size: 2.5rem;
}
.window-whatsapp{
    margin: 0 1rem 0 3rem;
    position: fixed;
    right: 0;
    bottom: 9rem;
    border-radius: 2%;
    overflow: auto;
}
.window-whatsapp div{
    padding: 1rem 1rem 1rem 4rem;
    background: #0f5;
    color: #fff;
}
.window-whatsapp div i{
    position: absolute;
    left: 1.2rem;
    font-size: 2rem;
}
.window-whatsapp div h4{
    padding-top: 0.5rem;
    color: #929292;
    font-size: 0.8rem;
}
.window-whatsapp p{
    background: #fff;
    text-align: center;
    padding: 1rem 0;
}
.window-whatsapp p a{
    text-decoration: none;
    background: #f5f7f9;
    border-radius: 4%;
    color: #333;
    padding: 1rem 1rem 1rem 0rem;
    font-size: 2rem;
}
.window-whatsapp p a i{
    color: #0f5;
    padding: 1rem;
}
.hide{
    display: none;
}

@media screen and (min-width:640px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;  
    }
    .open{
        display: none;
        padding: none;
        background: none;
        border: none
    }
    .nav-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    .section-about div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .section-about div img{
        padding: 1rem 0 0 0;
        width: 300px;
        height: 262px;
    }
    .section-about div p{
        padding: 2rem 2rem 2rem 2rem;
    }
    .section-about div{
        background: #fff;
    }
    .section-about span p{
        display: none;
    }

    .hide-about{
        display: grid;
    }


}